<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   
    <script>
        var module=angular.module("mymodule",[]);
        var controller=module.controller("mycontroller",function($scope,$http)
    {
        $scope.jsonarrayemails;
        $scope.jsonarrayall;
        $scope.fillemails = function () {
                let url = "/efetch-all-emails";
                $http.get(url).then(function (response) {
                    //alert(JSON.stringify(response.data));
                    $scope.jsonarrayemails = response.data;
                }, function (err) {
                    alert(err);
                });
            }

            $scope.doshowsel = function () {
                let email = $scope.selemail;
                let url = "/efetch-some?email=" + email;
                $http.get(url).then(alliswell, notwell);
                function alliswell(response) {
                    //alert(JSON.stringify(response.data));
                    $scope.jsonarrayall = response.data;
                }
                function notwell(err) {
                    alert(err);
                }
            }

            $scope.getall = function () {
                let url = "/efetch-all";
                $http.get(url).then(alliswell, notwell);
                function alliswell(response) {
                    //alert(JSON.stringify(response.data));
                    $scope.jsonarrayall = response.data;
                }
                function notwell(err) {
                    alert(err);
                }
            }

            $scope.dodelete = function (email) {
                let url = "/edel-one?email=" + email;
                $http.get(url).then(alliswell, notwell);

                function alliswell(response) {
                    //alert(response.data);
                    $scope.getall();
                }
                function notwell(err) {
                    alert(err);
                }
            }   
            let active = localStorage.getItem("activeuser");         
    });
    </script>
        <script>
            $(document).ready(function()
        {
            if (active == null) {
                location.href = "index.html";
                return;
            }
    
        })
               
            function doLogout() {
                localStorage.removeItem("activeuser");
                location.href = "index.html";
            }  
        </script>
</head>
<body  ng-app="mymodule" ng-controller="mycontroller" ng-init="fillemails(); getall();" style="padding: 70px;">

    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">EventVerse</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <form class="d-flex">
              <button class="btn btn-outline-danger" type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModallog" onclick="doLogout()">Logout</button>
            </form>
          </div>
        </div>
      </nav>
    <center><h3>All Events</h3></center>
    <center>
        <br>
    all emailids:
    <select ng-model="selemail" ng-change="doshowsel();">
        <option ng-repeat="obj in jsonarrayemails" value="{{obj.emailid}}">{{obj.emailid}}</option>
    </select>
    <input type="button" value="show all" ng-click="getall();">
        <div class="container"></div>
        <br>
        <table width="700" border="1" class="table">
            <tr>
                <th>Sr. No.</th>
                <th>Email ID</th>
                <th>Events</th>
                <th>Date of Event</th>
                <th>Time of Show</th>
                <th>City</th>
                <th>Venue</th>
                <th style="color:red"><center>Delete Event</center></th>
            </tr>
            <tr ng-repeat="obj in jsonarrayall">
                <td>{{$index + 1}}</td>
                <td>{{obj.emailid}}</td>
                <td>{{obj.events}}</td>
                <td>{{obj.doe}}</td>
                <td>{{obj.tos}}</td>
                <td>{{obj.city}}</td>
                <td>{{obj.venue}}</td>
                <td><center>
                    <input type="button" value="delete" ng-click="dodelete(obj.emailid);">
                </center></td>
            </tr>
                    
                </td>
            </tr>
        </table>
    </center>
</body>
</html>